<div class = "modal-dialog">
<div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
            <legend>
                view/edit/add Communication
            </legend>
            <div class="form-group">
                <label for="inputSchool" class="col-lg-2 control-label">School</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputSchool" placeholder="School" value = "{{school}}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</div>
